USE [ITI Examination System]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Branch_ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[BranchName] [nvarchar](255) NOT NULL,
	[M_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Branch_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BranchName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[Crtf_ID] [int] IDENTITY(1,1) NOT NULL,
	[Crtf_Name] [nvarchar](255) NOT NULL,
	[Provider] [nvarchar](255) NOT NULL,
	[Field] [nvarchar](255) NULL,
	[Crtf_URL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Crtf_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Crtf_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [nvarchar](255) NOT NULL,
	[Scope] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Company_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Crs_ID] [int] NOT NULL,
	[Crs_Desc] [nvarchar](255) NOT NULL,
	[Crs_Name] [nvarchar](255) NOT NULL,
	[Hours] [int] NOT NULL,
	[Topic_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crs_Qst]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crs_Qst](
	[Crs_ID] [int] NOT NULL,
	[Q_ID] [int] NOT NULL,
 CONSTRAINT [PK_Crs_Qst] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC,
	[Q_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_ID] [int] IDENTITY(1,1) NOT NULL,
	[Dept_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Dept_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Exam_ID] [int] NOT NULL,
	[Exam_Type] [nvarchar](50) NOT NULL,
	[QTY_T/F] [int] NOT NULL,
	[QTY_MCQ] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Ins_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Qst]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Qst](
	[ExamQst_ID] [int] IDENTITY(1,1) NOT NULL,
	[Exam_ID] [int] NOT NULL,
	[Q_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamQst_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Exam_Questions] UNIQUE NONCLUSTERED 
(
	[Q_ID] ASC,
	[Exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Freelance_Platform]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Freelance_Platform](
	[Free_ID] [int] IDENTITY(1,1) NOT NULL,
	[FreelanceName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Free_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FreelanceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ins_Crs]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ins_Crs](
	[Crs_ID] [int] NOT NULL,
	[Ins_ID] [int] NOT NULL,
 CONSTRAINT [PK_Ins_Crs] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC,
	[Ins_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[Ins_ID] [int] NOT NULL,
	[HiringDate] [date] NOT NULL,
	[Salary] [int] NOT NULL,
	[Dept_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ins_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intake]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intake](
	[Intake_ID] [int] IDENTITY(1,1) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Intake_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intake_Brch_Trk]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intake_Brch_Trk](
	[Track_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Intake_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Track_ID] ASC,
	[Branch_ID] ASC,
	[Intake_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[M_ID] [int] NOT NULL,
	[HiringDate] [date] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[SSN] [bigint] NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Marital_Status] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Bdate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[P_ID] [int] NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Q_ID] [int] NOT NULL,
	[QST_Content] [nvarchar](255) NOT NULL,
	[Q_Type] [nvarchar](50) NOT NULL,
	[Answer] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Q_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions_Choices]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions_Choices](
	[Q_ID] [int] NOT NULL,
	[Choice] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Questions_Choices] PRIMARY KEY CLUSTERED 
(
	[Q_ID] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Std_Company]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Std_Company](
	[Company_ID] [int] NOT NULL,
	[STD_ID] [int] NOT NULL,
	[Job_Role] [nvarchar](255) NOT NULL,
	[Hiring_Date] [date] NOT NULL,
	[Salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC,
	[STD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Std_Exam_Qst]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Std_Exam_Qst](
	[STD_ID] [int] NOT NULL,
	[ExamQst_ID] [int] NOT NULL,
	[Std_Ans] [nvarchar](255) NULL,
	[Correct_Ans] [bit] NULL,
	[Grade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamQst_ID] ASC,
	[STD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Std_Freelance]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Std_Freelance](
	[Free_ID] [int] NOT NULL,
	[STD_ID] [int] NOT NULL,
	[Detail] [nvarchar](255) NOT NULL,
	[Date] [date] NOT NULL,
	[Cost] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Free_ID] ASC,
	[STD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[STD_ID] [int] NOT NULL,
	[Track_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Intake_ID] [int] NOT NULL,
	[MilitaryStatus] [nvarchar](50) NOT NULL,
	[SM_URL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Crtf]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Crtf](
	[Crtf_ID] [int] NOT NULL,
	[STD_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Crtf_ID] ASC,
	[STD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisor]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisor](
	[Dept_ID] [int] NOT NULL,
	[Ins_ID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
 CONSTRAINT [PK_Supervisor] PRIMARY KEY CLUSTERED 
(
	[Dept_ID] ASC,
	[Ins_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Topic_ID] [int] NOT NULL,
	[Topic_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Topic_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Track_ID] [int] IDENTITY(1,1) NOT NULL,
	[Track_Name] [nvarchar](255) NOT NULL,
	[Dept_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Track_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Track_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track_Crs]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track_Crs](
	[Track_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
 CONSTRAINT [PK_Track_Crs] PRIMARY KEY CLUSTERED 
(
	[Track_ID] ASC,
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[AccountID] [int] NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Person]    Script Date: 6/5/2025 12:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Person](
	[P_ID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_User_Person] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD FOREIGN KEY([M_ID])
REFERENCES [dbo].[Manager] ([M_ID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Topic_ID])
REFERENCES [dbo].[Topic] ([Topic_ID])
GO
ALTER TABLE [dbo].[Crs_Qst]  WITH CHECK ADD  CONSTRAINT [FK_Crs_Qst_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Crs_Qst] CHECK CONSTRAINT [FK_Crs_Qst_Course]
GO
ALTER TABLE [dbo].[Crs_Qst]  WITH CHECK ADD  CONSTRAINT [FK_Crs_Qst_Questions] FOREIGN KEY([Q_ID])
REFERENCES [dbo].[Questions] ([Q_ID])
GO
ALTER TABLE [dbo].[Crs_Qst] CHECK CONSTRAINT [FK_Crs_Qst_Questions]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([Ins_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Exam_Qst]  WITH CHECK ADD FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[Exam] ([Exam_ID])
GO
ALTER TABLE [dbo].[Exam_Qst]  WITH CHECK ADD FOREIGN KEY([Q_ID])
REFERENCES [dbo].[Questions] ([Q_ID])
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Ins_Crs_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Ins_Crs] CHECK CONSTRAINT [FK_Ins_Crs_Course]
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Ins_Crs_Instructor] FOREIGN KEY([Ins_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Ins_Crs] CHECK CONSTRAINT [FK_Ins_Crs_Instructor]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Intake_Brch_Trk]  WITH CHECK ADD FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
GO
ALTER TABLE [dbo].[Intake_Brch_Trk]  WITH CHECK ADD FOREIGN KEY([Intake_ID])
REFERENCES [dbo].[Intake] ([Intake_ID])
GO
ALTER TABLE [dbo].[Intake_Brch_Trk]  WITH CHECK ADD FOREIGN KEY([Track_ID])
REFERENCES [dbo].[Track] ([Track_ID])
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD FOREIGN KEY([P_ID])
REFERENCES [dbo].[Person] ([P_ID])
GO
ALTER TABLE [dbo].[Questions_Choices]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Choices_Questions] FOREIGN KEY([Q_ID])
REFERENCES [dbo].[Questions] ([Q_ID])
GO
ALTER TABLE [dbo].[Questions_Choices] CHECK CONSTRAINT [FK_Questions_Choices_Questions]
GO
ALTER TABLE [dbo].[Std_Company]  WITH CHECK ADD FOREIGN KEY([Company_ID])
REFERENCES [dbo].[Company] ([Company_ID])
GO
ALTER TABLE [dbo].[Std_Company]  WITH CHECK ADD FOREIGN KEY([STD_ID])
REFERENCES [dbo].[Student] ([STD_ID])
GO
ALTER TABLE [dbo].[Std_Exam_Qst]  WITH CHECK ADD FOREIGN KEY([ExamQst_ID])
REFERENCES [dbo].[Exam_Qst] ([ExamQst_ID])
GO
ALTER TABLE [dbo].[Std_Exam_Qst]  WITH CHECK ADD FOREIGN KEY([STD_ID])
REFERENCES [dbo].[Student] ([STD_ID])
GO
ALTER TABLE [dbo].[Std_Freelance]  WITH CHECK ADD FOREIGN KEY([Free_ID])
REFERENCES [dbo].[Freelance_Platform] ([Free_ID])
GO
ALTER TABLE [dbo].[Std_Freelance]  WITH CHECK ADD FOREIGN KEY([STD_ID])
REFERENCES [dbo].[Student] ([STD_ID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Intake_ID])
REFERENCES [dbo].[Intake] ([Intake_ID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([STD_ID])
REFERENCES [dbo].[Person] ([P_ID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Track_ID])
REFERENCES [dbo].[Track] ([Track_ID])
GO
ALTER TABLE [dbo].[Student_Crtf]  WITH CHECK ADD FOREIGN KEY([Crtf_ID])
REFERENCES [dbo].[Certificate] ([Crtf_ID])
GO
ALTER TABLE [dbo].[Student_Crtf]  WITH CHECK ADD FOREIGN KEY([STD_ID])
REFERENCES [dbo].[Student] ([STD_ID])
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD  CONSTRAINT [FK_Supervisor_Department] FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Supervisor] CHECK CONSTRAINT [FK_Supervisor_Department]
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD  CONSTRAINT [FK_Supervisor_Instructor] FOREIGN KEY([Ins_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Supervisor] CHECK CONSTRAINT [FK_Supervisor_Instructor]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Track_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Track_Crs_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Track_Crs] CHECK CONSTRAINT [FK_Track_Crs_Course]
GO
ALTER TABLE [dbo].[Track_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Track_Crs_Track] FOREIGN KEY([Track_ID])
REFERENCES [dbo].[Track] ([Track_ID])
GO
ALTER TABLE [dbo].[Track_Crs] CHECK CONSTRAINT [FK_Track_Crs_Track]
GO
ALTER TABLE [dbo].[User_Person]  WITH CHECK ADD  CONSTRAINT [FK_User_Person_Person] FOREIGN KEY([P_ID])
REFERENCES [dbo].[Person] ([P_ID])
GO
ALTER TABLE [dbo].[User_Person] CHECK CONSTRAINT [FK_User_Person_Person]
GO
ALTER TABLE [dbo].[User_Person]  WITH CHECK ADD  CONSTRAINT [FK_User_Person_User] FOREIGN KEY([AccountID])
REFERENCES [dbo].[User] ([AccountID])
GO
ALTER TABLE [dbo].[User_Person] CHECK CONSTRAINT [FK_User_Person_User]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD CHECK  (([Scope]='International' OR [Scope]='Local'))
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD CHECK  (([Exam_Type]='Quiz' OR [Exam_Type]='Mid-Term' OR [Exam_Type]='Final'))
GO
ALTER TABLE [dbo].[Intake]  WITH CHECK ADD CHECK  (([End_Date]>[Start_Date]))
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD CHECK  (([Marital_Status]='Divorced' OR [Marital_Status]='Single' OR [Marital_Status]='Married'))
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD CHECK  (([Q_Type]='MCQ' OR [Q_Type]='T/F'))
GO
ALTER TABLE [dbo].[Std_Company]  WITH CHECK ADD CHECK  (([Salary]>(0)))
GO
ALTER TABLE [dbo].[Std_Freelance]  WITH CHECK ADD CHECK  (([Cost]>(0)))
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD CHECK  (([MilitaryStatus]='Postponed' OR [MilitaryStatus]='Exempted' OR [MilitaryStatus]='Completed'))
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD CHECK  (([EndDate]>[StartDate]))
GO
